<div class="container-fluid" style="background-color: initial; font-family: 'Fredoka', sans-serif; display: flex; justify-content: space-between; margin: 0px 5%">
  <div class="left-items">
    <a class="navbar-brand m-0" href="/contact" style="font-weight: 500; font-size: 1.5rem"> Contact Form </a>
  </div>
  <div class="center-logo">
    <a class="navbar-brand m-0" href="/" style="cursor: pointer">
      <img src="https://foleyprep.nyc3.cdn.digitaloceanspaces.com/Website/logos/Scorgi/scorgi-square.svg" alt="Scorgi Logo" style="max-width: 70px" />
    </a>
  </div>
  <div class="right-items">
    <a class="navbar-brand email-text m-0" href="mailto:info@scorgi.com" style="font-weight: 500; font-size: 1.5rem"> <i class="bi bi-envelope-fill mr-1"></i> info@scorgi.com </a>
  </div>
</div>
